<%- include('../partials/header') -%>

<section id="show-page">

  <div>
    <strong>Flight from: </strong><span id="departure" ><%= flight.airport %></span><br><br>
    <strong>Airline: </strong><span><%= flight.airline %></span> -  
  <strong>Flight No: </strong><span><%= flight.flightNo %></span> <br><br>
    <strong>Departure: </strong><span><%= flight.departs.toLocaleString()%></span>
    <a class="btn btn-sm btn-primary" id="ticketButton" href="/flights/<%= flight.id %>/tickets/new"> New Ticket</a>

    <% if(tickets.length) { %>
      <button type="button" class="btn btn-sm btn-outline-primary" id="eTicket"
      ><%= tickets.length %> eTicket</button></td>
   <% }%>
   <div id="popover-content" class="hide" >
    <% tickets.forEach((ticket) => { %> 
      <strong>Seat:</strong> <%=ticket.seat %> 
     </br> 
      <strong>Price:</strong> $<%=ticket.price %> <br> <br>
       <% }); %>
   </div>
  </div>
<strong></strong>
  <br />

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Destintions</th>
        <th scope="col">Arrival Time</th>
      </tr>
    </thead>

    <tbody>
      <% flight.destinations.forEach(function(des) { %>
      <tr>
        <td>
          <form
          action="/destinations/<%= des._id %>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button value="<%= flight.id %>" name="id" type="submit">&#10006;</button>
        </form>
          <span id="desAirports"> <%= des.airport %> </span></td>
        <td>
          <%= des.arrival %>
        </td>
        <%});%>
      </tr>
      </tbody>
    </table>
  </section>
  <hr>
  <section class="action">
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
      <div class="form-group">
        <!-- _____________________________________________________________________________________________ -->
        <label for="airport"
        >Add a destination:
        <select class="form-control" name="airport">
          <% allowedDestinations.forEach(function(d) { %>
            <option value="<%= d %>"><%= d %></option>
            <% }); %>
          </select>
        </label>
      </div>
      <button class="btn btn-success" type="submit">
        Add Destination
      </button>
    
  </form>
  <small id="message"></small>
</section>
<% if (tickets.length) { %>
  <hr>
<section class="action">
  <form
  action="/flights/<%= flight._id %>/tickets?_method=DELETE"
  method="POST">
  <div class="form-group">
  <label for="ticket">Cancel a ticket
  <select class="form-control"  name="ticket" id="ticket">Cancel a ticket
    <% tickets.forEach((ticket) => { %>
      <option value="<%= ticket.id %>">
        <strong>Seat:</strong> <%= ticket.seat %> 
     </br> 
      <strong>Price:</strong> $<%= ticket.price %> <br>
      </option>
   <% }); %>
  </select>
</label>
</div>
  <button class="btn btn-primary" type="submit">Cancel ticket</button>

</form>
</section>
<% } %>

<a class="btn btn-primary" href="/flights">Return to Flights</a>

  

<%- include('../partials/footer') -%>
